[General]
{{ if eq .chezmoi.os "darwin" }}
hotkey=Alt+A
{{ end }}
{{ if eq .chezmoi.os "linux" }}
hotkey=Ctrl+Space
{{ end }}
showTray=true
{{ if eq .chezmoi.os "darwin" }}
terminal=warp
{{ end }}
{{ if eq .chezmoi.os "linux" }}
terminal=gnome-terminal --
{{ end }}

[org.albert.extension.applications]
enabled=true
fuzzy=true

[org.albert.extension.calculator]
enabled=true

[org.albert.extension.chromium]
enabled=false
fuzzy=true

[org.albert.extension.files]
enabled=false

[org.albert.extension.hashgenerator]
enabled=true

[org.albert.extension.mpris]
enabled=false

[org.albert.extension.python]
enabled=true
enabled_modules=google_translate, ip, unicode_emoji, wikipedia, timer, api_test, npm, currency_converter

[org.albert.extension.snippets]
enabled=false

[org.albert.extension.ssh]
enabled=true

[org.albert.extension.system]
enabled=false

[org.albert.extension.terminal]
enabled=false

[org.albert.extension.websearch]
enabled=true

[org.albert.frontend.widgetboxmodel]
alwaysOnTop=true
clearOnHide=false
displayIcons=true
displayScrollbar=false
displayShadow=true
hideOnClose=false
hideOnFocusLoss=true
itemCount=5
showCentered=true
theme=SolarizedDarkCyan
