[General]
frontend=widgetsboxmodel
{{- if eq .chezmoi.os "darwin" }}
hotkey=Alt+A
{{- end }}
{{- if eq .chezmoi.os "linux" }}
hotkey=Ctrl+Space
{{- end }}
prioritizePerfectMatch=true
showTray=true
telemetry=true
{{- if eq .chezmoi.os "darwin" }}
terminal=warp
{{- end }}
{{- if eq .chezmoi.os "linux" }}
terminal=Tilix
{{- end }}

[albert]
global_handler_enabled=true

[applications]
enabled=true
terminal=com.gexperts.tilix

[arch_wiki]
enabled=true

[bitwarden]
enabled=false

[calculator]
enabled=true

[calculator_qalculate]
enabled=true
global_handler_enabled=true

[chromium]
{{- if eq .chezmoi.os "linux" }}
bookmarks_path=/home/akccakcctw/.config/google-chrome/Default/Bookmarks, /home/akccakcctw/.config/google-chrome/Guest Profile/Bookmarks, /home/akccakcctw/.config/google-chrome/Profile 1/Bookmarks, /home/akccakcctw/.config/google-chrome/Profile 2/Bookmarks, /home/akccakcctw/.config/google-chrome/Profile 3/Bookmarks
{{- end }}
enabled=true

[clipboard]
enabled=true

[color]
enabled=true

[copyq]
enabled=false

[dice_roll]
enabled=false

[emoji]
enabled=true

[goldendict]
enabled=false

[googletrans]
enabled=false

[hash]
enabled=true
global_handler_enabled=true

[mpris]
enabled=false

[python]
enabled=true
watchSources=false

[python.emoji]
enabled=true

[python_eval]
enabled=false

[qmlboxmodel]
displaySystemShadow=false
windowPosition=@Point(899 288)

[snippets]
enabled=true

[timer]
enabled=true

[websearch]
enabled=true

[widgetsboxmodel]
alwaysOnTop=true
clearOnHide=false
clientShadow=true
darkTheme=Default System Palette
displayIcons=true
displayScrollbar=false
followCursor=true
hideOnFocusLoss=true
historySearch=true
itemCount=5
lightTheme=Default System Palette
quitOnClose=false
showCentered=true
showFallbacksOnEmpty=true
systemShadow=true
theme=DarkOrange
windowPosition=@Point(915 288)
