{{- $email := promptStringOnce . "email" "email" -}}
{{- $name := promptStringOnce . "name" "name" -}}
{{- $signingkey := promptStringOnce . "signingkey" "git signingkey" -}}
{{/* 這台機器要不要工作用設定（KKday host / alias 等） */}}
{{- $work := promptBoolOnce . "work" "work machine" -}}
[data]
  work = {{ $work }}
  email = "{{ $email }}"
  name = "{{ $name }}"
  signingkey = "{{ $signingkey }}"
  [data.user]
    email = "{{ $email }}"
    name = "{{ $name }}"
[diff]
  pager = "delta"

