[user]
  email = "{{ .email }}"
  name = "{{ .name }}"
  signingkey = "{{ .signingkey }}"
[core]
  quotepath = false
  excludesfile = ~/.gitignore
  editor = nvim
  pager = delta # https://github.com/dandavison/delta
[commit]
  gpgsign = true
[alias]
  br = branch
  df = diff
  ph = push
  pl = pull
  ci = commit
  cl = clone
  co = checkout
  dt = difftool
  ls = ls-files
  st = status -sb
  overview = log --all --oneline --no-merges
  # REVIEW_BASE defaults to 'develop' in zshrc
  # ref: https://blog.jez.io/cli-code-review/
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  review = !vim -p $(git files) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
  # git reviewone foo.js bar.js
  reviewone = !vim -p +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
  conflicts = diff --name-only --diff-filter=U
[checkout]
  defaultRemote = origin
[branch]
  autosetuprebase = always
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  colorMoved = default
  tool = nvimdiff
[difftool]
  prompt = true
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[help]
  autocorrect = 1
[gui]
  encoding = utf-8
[i18n]
  logoutputencoding = utf-8
[i18n "commit"]
  encoding = utf-8
[init]
  defaultBranch = main
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool "nvim"]
  cmd = "nvim -f -c \"Gvdiffsplit!\" \"$MERGED\""
[pull]
  ff = only # fast-forward only
  twohead = ort
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections
  line-numbers = true
[pager]
  diff = "delta | less --tabs=2 -RX"
  show = "delta | less --tabs=2 -RX"
[credential "https://github.com"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = !gh auth git-credential

# vim: set filetype=gitconfig:
